In [1]:
import pandas as pd
import datetime as dt

In [2]:
file1 = "Resources/cases-brazil-cities-time.csv"
file2 = "Resources/NY_data-by-day.csv"

In [3]:
brazil_df = pd.read_csv(file1)
brazil_df

,epi_week,date,country,state,city,ibgeID,cod_RegiaoDeSaude,name_RegiaoDeSaude,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
0,9,2020-02-25,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,1,1,0.00000,0.00811,0.00000,SES,2021-05-15
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,NaN,NaN,0,0,1,1,0.00000,0.00047,0.00000,NaN,NaN
2,9,2020-02-26,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-05-15
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,NaN,NaN,0,0,0,1,0.00000,0.00047,0.00000,NaN,NaN
4,9,2020-02-27,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2081093,120,2021-05-17,Brazil,PR,Ângulo/PR,4101150,41015.0,15ª RS Maringá,0,6,2,280,204.77816,9556.31399,0.02143,MS,2021-05-17
2081094,120,2021-05-17,Brazil,BA,Érico Cardoso/BA,2900504,29003.0,Brumado,0,2,1,232,18.93939,2196.96970,0.00862,MS,2021-05-17
2081095,120,2021-05-17,Brazil,PA,Óbidos/PA,1505106,15002.0,Baixo Amazonas,0,110,0,5990,210.30092,11451.84109,0.01836,MS,2021-05-17
2081096,120,2021-05-17,Brazil,SP,Óleo/SP,3533809,35094.0,Ourinhos,0,1,0,65,40.46945,2630.51396,0.01538,MS,2021-05-17
2081097,120,2021-05-17,Brazil,TOTAL,TOTAL,0,NaN,NaN,985,437085,32705,15669414,206.41004,7399.76047,0.02789,NaN,NaN

In [4]:
brazil_df['city'].unique()

array(['São Paulo/SP', 'TOTAL', 'Barra Mansa/RJ', ..., 'Estrela Velha/RS',
       'Coqueiro Baixo/RS', 'CASO SEM LOCALIZAÇÃO DEFINIDA/MA'],
      dtype=object)

In [5]:
SaoPaulo_df = brazil_df[brazil_df['city']=='São Paulo/SP']
SaoPaulo_df

,epi_week,date,country,state,city,ibgeID,cod_RegiaoDeSaude,name_RegiaoDeSaude,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
0,9,2020-02-25,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,1,1,0.00000,0.00811,0.00000,SES,2021-05-15
2,9,2020-02-26,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-05-15
4,9,2020-02-27,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-05-15
6,9,2020-02-28,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,1,2,0.00000,0.01623,0.00000,SES,2021-05-15
8,9,2020-02-29,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,2,0.00000,0.01623,0.00000,SES,2021-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058132,119,2021-05-13,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,111,28875,2505,745134,234.27551,6045.59817,0.03875,SES,2021-05-15
2063728,119,2021-05-14,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,119,28994,3248,748382,235.24101,6071.95061,0.03874,SES,2021-05-15
2069325,119,2021-05-15,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,108,29102,2732,751114,236.11726,6094.11652,0.03875,SES,2021-05-15
2074922,120,2021-05-16,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,24,29126,1544,752658,236.31198,6106.64367,0.03870,MS,2021-05-17
2080519,120,2021-05-17,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,20,29146,710,753368,236.47425,6112.40421,0.03869,MS,2021-05-17

In [6]:
col_nm = SaoPaulo_df.columns.tolist()
col_nm = col_nm[:3]+col_nm[4:5]+col_nm[10:12]+col_nm[3:4]+col_nm[5:10]+col_nm[12:]
col_nm

['epi_week',
 'date',
 'country',
 'city',
 'newCases',
 'totalCases',
 'state',
 'ibgeID',
 'cod_RegiaoDeSaude',
 'name_RegiaoDeSaude',
 'newDeaths',
 'deaths',
 'deaths_per_100k_inhabitants',
 'totalCases_per_100k_inhabitants',
 'deaths_by_totalCases',
 '_source',
 'last_info_date']

In [7]:
SaoPaulo_df = SaoPaulo_df[col_nm]
SaoPaulo_df

,epi_week,date,country,city,newCases,totalCases,state,ibgeID,cod_RegiaoDeSaude,name_RegiaoDeSaude,newDeaths,deaths,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
0,9,2020-02-25,Brazil,São Paulo/SP,1,1,SP,3550308,35016.0,São Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
2,9,2020-02-26,Brazil,São Paulo/SP,0,1,SP,3550308,35016.0,São Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
4,9,2020-02-27,Brazil,São Paulo/SP,0,1,SP,3550308,35016.0,São Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
6,9,2020-02-28,Brazil,São Paulo/SP,1,2,SP,3550308,35016.0,São Paulo,0,0,0.00000,0.01623,0.00000,SES,2021-05-15
8,9,2020-02-29,Brazil,São Paulo/SP,0,2,SP,3550308,35016.0,São Paulo,0,0,0.00000,0.01623,0.00000,SES,2021-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058132,119,2021-05-13,Brazil,São Paulo/SP,2505,745134,SP,3550308,35016.0,São Paulo,111,28875,234.27551,6045.59817,0.03875,SES,2021-05-15
2063728,119,2021-05-14,Brazil,São Paulo/SP,3248,748382,SP,3550308,35016.0,São Paulo,119,28994,235.24101,6071.95061,0.03874,SES,2021-05-15
2069325,119,2021-05-15,Brazil,São Paulo/SP,2732,751114,SP,3550308,35016.0,São Paulo,108,29102,236.11726,6094.11652,0.03875,SES,2021-05-15
2074922,120,2021-05-16,Brazil,São Paulo/SP,1544,752658,SP,3550308,35016.0,São Paulo,24,29126,236.31198,6106.64367,0.03870,MS,2021-05-17
2080519,120,2021-05-17,Brazil,São Paulo/SP,710,753368,SP,3550308,35016.0,São Paulo,20,29146,236.47425,6112.40421,0.03869,MS,2021-05-17

In [8]:
SaoPaulo_df = SaoPaulo_df.replace(to_replace=r'^São.*', value='Sao_Paulo', regex=True)
SaoPaulo_df

,epi_week,date,country,city,newCases,totalCases,state,ibgeID,cod_RegiaoDeSaude,name_RegiaoDeSaude,newDeaths,deaths,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
0,9,2020-02-25,Brazil,Sao_Paulo,1,1,SP,3550308,35016.0,Sao_Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
2,9,2020-02-26,Brazil,Sao_Paulo,0,1,SP,3550308,35016.0,Sao_Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
4,9,2020-02-27,Brazil,Sao_Paulo,0,1,SP,3550308,35016.0,Sao_Paulo,0,0,0.00000,0.00811,0.00000,SES,2021-05-15
6,9,2020-02-28,Brazil,Sao_Paulo,1,2,SP,3550308,35016.0,Sao_Paulo,0,0,0.00000,0.01623,0.00000,SES,2021-05-15
8,9,2020-02-29,Brazil,Sao_Paulo,0,2,SP,3550308,35016.0,Sao_Paulo,0,0,0.00000,0.01623,0.00000,SES,2021-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058132,119,2021-05-13,Brazil,Sao_Paulo,2505,745134,SP,3550308,35016.0,Sao_Paulo,111,28875,234.27551,6045.59817,0.03875,SES,2021-05-15
2063728,119,2021-05-14,Brazil,Sao_Paulo,3248,748382,SP,3550308,35016.0,Sao_Paulo,119,28994,235.24101,6071.95061,0.03874,SES,2021-05-15
2069325,119,2021-05-15,Brazil,Sao_Paulo,2732,751114,SP,3550308,35016.0,Sao_Paulo,108,29102,236.11726,6094.11652,0.03875,SES,2021-05-15
2074922,120,2021-05-16,Brazil,Sao_Paulo,1544,752658,SP,3550308,35016.0,Sao_Paulo,24,29126,236.31198,6106.64367,0.03870,MS,2021-05-17
2080519,120,2021-05-17,Brazil,Sao_Paulo,710,753368,SP,3550308,35016.0,Sao_Paulo,20,29146,236.47425,6112.40421,0.03869,MS,2021-05-17

In [9]:
oppath = "Output/SaoPaulo.csv"
SaoPaulo_df.to_csv(oppath)