In [236]:
# Import Libraries Required
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [237]:
# Add the Resources path variables:
NY_data = "NewYork_ data-by-day.csv"
SP1_data = "Comparativo-ciudades.csv"
SP2_data = "Sao Paulo 2-cases-brazil-cities-time.csv"
Weather_data = "Weather Data-fa037ddb81b7f7f0a0d1a0ebd131858e.csv"

In [164]:
# Read the files and store into Pandas Dataframes using directly the read_csv function that converts excel data into the dataframe
NYCovid_df = pd.read_csv(NY_data, parse_dates=['date_of_interest'],  encoding="ISO-8859-1",low_memory=False)

In [165]:
NYCovid_df.head()

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,ALL_DEATH_COUNT_7DAY_AVG
0,2020-02-29,1,0,1,0,0,0,0,0,0,0
1,2020-03-01,0,0,1,0,0,0,0,0,0,0
2,2020-03-02,0,0,2,0,0,0,0,0,0,0
3,2020-03-03,1,0,7,0,0,0,0,0,0,0
4,2020-03-04,5,0,2,0,0,0,0,0,0,0

In [166]:
#Drop columns not required
NYCovid_df=NYCovid_df.drop(["PROBABLE_CASE_COUNT", "HOSPITALIZED_COUNT","DEATH_COUNT","PROBABLE_DEATH_COUNT","HOSP_COUNT_7DAY_AVG","DEATH_COUNT_7DAY_AVG","ALL_DEATH_COUNT_7DAY_AVG",], axis=1)

NYCovid_df['date_of_interest']= pd.to_datetime(NYCovid_df['date_of_interest'])

In [167]:
NYCovid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date_of_interest         441 non-null    datetime64[ns]
 1   CASE_COUNT               441 non-null    int64
 2   CASE_COUNT_7DAY_AVG      441 non-null    int64
 3   ALL_CASE_COUNT_7DAY_AVG  441 non-null    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 13.9 KB

In [168]:
#generate a CSV output of clean file
NYCovid_df.to_csv (r'Cleaned\NYCovid_dataframe.csv', index = False, header=True)

# Sao Paulo Covid file cleanup

In [217]:
SP1_data_df = pd.read_csv(SP1_data,parse_dates=['Date'], encoding="ISO-8859-1",low_memory=False)
SP1_data_df.head()

,Date,Country,City,Cumalative Cases,Fallecidos,Population_millions,DateCollected,CasesMillionInhab,Fallecidos mill√≥n hab
0,2020-05-20,Argentina,Buenos Aires,4718.0,162.0,3075646,2020.0,1534.0,53.0
1,2020-05-20,Brasil,Brasilia,5161.0,77.0,3015268,2019.0,1712.0,26.0
2,2020-05-20,Chile,Santiago de Chile,41179.0,348.0,7460708,2020.0,5519.0,47.0
3,2020-05-21,Ecuador,Guayaquil,9392.0,911.0,2723665,2020.0,3448.0,334.0
4,2020-05-20,M√©xico,Ciudad de M√©xico,15844.0,1347.0,8985339,2015.0,1763.0,150.0

In [218]:
SP1_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4704 entries, 0 to 4703
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4704 non-null   datetime64[ns]
 1   Country                4704 non-null   object
 2   City                   4704 non-null   object
 3   Cumalative Cases       4704 non-null   float64
 4   Fallecidos             4704 non-null   float64
 5   Population_millions    4704 non-null   object
 6   DateCollected          4704 non-null   float64
 7   CasesMillionInhab      4704 non-null   float64
 8   Fallecidos mill√≥n hab  4704 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 330.9+ KB

In [219]:
#Drop columns not required
SP1_data_df=SP1_data_df.drop(["Fallecidos","Fallecidos mill√≥n hab"], axis=1)

In [222]:
#generate a CSV output of clean file
SP1_data_df.to_csv (r'Cleaned\SP1_dataframe.csv', index = False, header=True)

# Sao Paulo2 Covid data cleanup

In [241]:
SP2_data_df = pd.read_csv(SP2_data, parse_dates=['date'], encoding="ISO-8859-1",low_memory=False)

In [242]:
#Drop columns not required
SP2_data_df=SP2_data_df.drop(["epi_week","state","ibgeID","name_RegiaoDeSaude","newDeaths","deaths","deaths_per_100k_inhabitants","deaths_by_totalCases","_source", "last_info_date","cod_RegiaoDeSaude"  ], axis=1)
SP2_data_df.head()

,date,country,city,newCases,totalCases,totalCases_per_100k_inhabitants
0,2020-02-25,Brazil,Sao Paulo,1,1,0.00811
1,2020-02-26,Brazil,Sao Paulo,0,1,0.00811
2,2020-02-27,Brazil,Sao Paulo,0,1,0.00811
3,2020-02-28,Brazil,Sao Paulo,1,2,0.01623
4,2020-02-29,Brazil,Sao Paulo,0,2,0.01623

In [243]:
# Display an overview of the Date column
SP2_data_df['city'].value_counts()

Sao Paulo    263
Name: city, dtype: int64

In [244]:
SP2_data_df['date'] = pd.to_datetime(SP2_data_df['date'])

In [246]:
SP2_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             263 non-null    datetime64[ns]
 1   country                          263 non-null    object
 2   city                             263 non-null    object
 3   newCases                         263 non-null    int64
 4   totalCases                       263 non-null    int64
 5   totalCases_per_100k_inhabitants  263 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 12.5+ KB

In [247]:
#generate a CSV output of clean file
SP2_data_df.to_csv (r'Cleaned\SP2_dataframe.csv', index = False, header=True)

# Weather Data cleanup

In [296]:
Weather_df = pd.read_csv(Weather_data, parse_dates=['dt_iso'], encoding="ISO-8859-1",low_memory=False)

In [297]:
#Drop columns not required
Weather_df=Weather_df.drop(["timezone","feels_like","pressure","sea_level","grnd_level","wind_speed","wind_deg","rain_1h", "rain_3h","snow_1h","snow_3h","clouds_all","weather_id","weather_main","weather_description","weather_icon","dt"], axis=1)
Weather_df.head()

,dt_iso,city_name,lat,lon,temp,temp_min,temp_max,humidity
0,2020-01-01 00:00:00 +0000 UTC,New York,40.712775,-74.005973,6.36,5.00,7.22,76
1,2020-01-01 01:00:00 +0000 UTC,New York,40.712775,-74.005973,6.52,5.34,7.22,75
2,2020-01-01 02:00:00 +0000 UTC,New York,40.712775,-74.005973,6.11,5.00,7.22,75
3,2020-01-01 03:00:00 +0000 UTC,New York,40.712775,-74.005973,5.80,5.00,6.67,75
4,2020-01-01 04:00:00 +0000 UTC,New York,40.712775,-74.005973,5.46,4.44,6.11,70

In [298]:
Weather_df['dt_iso'].value_counts()

2020-10-30 11:00:00 +0000 UTC    5
2021-02-02 18:00:00 +0000 UTC    5
2020-06-07 04:00:00 +0000 UTC    4
2021-02-07 20:00:00 +0000 UTC    4
2021-02-02 00:00:00 +0000 UTC    4
                                ..
2020-09-30 18:00:00 +0000 UTC    2
2021-02-26 19:00:00 +0000 UTC    2
2021-03-03 23:00:00 +0000 UTC    2
2021-01-29 15:00:00 +0000 UTC    2
2020-05-20 02:00:00 +0000 UTC    2
Name: dt_iso, Length: 12048, dtype: int64

In [299]:
Weather_df['dt_iso']= pd.to_datetime(Weather_df['dt_iso'], format='%Y-%m-%d %X %z UTC')

In [300]:
Weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24804 entries, 0 to 24803
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dt_iso     24804 non-null  datetime64[ns, UTC]
 1   city_name  24804 non-null  object
 2   lat        24804 non-null  float64
 3   lon        24804 non-null  float64
 4   temp       24804 non-null  float64
 5   temp_min   24804 non-null  float64
 6   temp_max   24804 non-null  float64
 7   humidity   24804 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1), object(1)
memory usage: 1.5+ MB

In [303]:
Weather_df['dt_iso'] = Weather_df['dt_iso'].dt.date

In [307]:
Weather_df['dt_iso']= pd.to_datetime(Weather_df['dt_iso'])

In [308]:
Weather_df.head()

,dt_iso,city_name,lat,lon,temp,temp_min,temp_max,humidity
0,2020-01-01,New York,40.712775,-74.005973,6.36,5.00,7.22,76
1,2020-01-01,New York,40.712775,-74.005973,6.52,5.34,7.22,75
2,2020-01-01,New York,40.712775,-74.005973,6.11,5.00,7.22,75
3,2020-01-01,New York,40.712775,-74.005973,5.80,5.00,6.67,75
4,2020-01-01,New York,40.712775,-74.005973,5.46,4.44,6.11,70

In [309]:
Weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24804 entries, 0 to 24803
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dt_iso     24804 non-null  datetime64[ns]
 1   city_name  24804 non-null  object
 2   lat        24804 non-null  float64
 3   lon        24804 non-null  float64
 4   temp       24804 non-null  float64
 5   temp_min   24804 non-null  float64
 6   temp_max   24804 non-null  float64
 7   humidity   24804 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 1.5+ MB

In [310]:
#generate a CSV output of clean file
Weather_df.to_csv (r'Cleaned\Weather_dataframe.csv', index = False, header=True)